button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--core--color--green--400);
  color: var(--core--color--monochrome--800);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: var(--core--color--green--500);
  cursor: pointer;
}

button:active {
  background-color: var(--core--color--green--600);
}

button:focus {
  outline: 3px solid var(--core--color--red--500);
  outline-offset: 2px;
}
