a {
  color: var(--core--color--green--600);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  color: var(--core--color--green--700);
}

a:focus {
  outline: 3px solid var(--core--color--red--500);
  outline-offset: 2px;
  border-radius: 0.25rem;
}
